<div class="" style="">
    <div class="row py-5">
        <div style="text-align: center" class="col">
                <span style="font-size: 30px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;">
                    Dlaczego my?
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <app-customer-review-widget>
                    <span style="font-size: 16px; font-family: 'Poppins-ExtraLight', sans-serif;" content>
                     To jest akapit. Kliknij, aby edytować i dodać własny tekst. To proste. Wybierz „Edytuj tekst” lub kliknij dwukrotnie, aby dodać własne treści i zmienić czcionkę.
                </span>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                     Jan Kowalski
                </span>
            </app-customer-review-widget>
        </div>
        <div class="col align-self-center">
            <app-customer-review-widget>
                <span style="font-size: 16px; font-family: 'Poppins-ExtraLight', sans-serif;" content>
                     To jest akapit. Kliknij, aby edytować i dodać własny tekst. To proste. Wybierz „Edytuj tekst” lub kliknij dwukrotnie, aby dodać własne treści i zmienić czcionkę.
                </span>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                     Jan Kowalski
                </span>
            </app-customer-review-widget>
        </div>
        <div class="col align-self-center">
            <app-customer-review-widget>
                <span style="font-size: 16px; font-family: 'Poppins-ExtraLight', sans-serif;" content>
                     To jest akapit. Kliknij, aby edytować i dodać własny tekst. To proste. Wybierz „Edytuj tekst” lub kliknij dwukrotnie, aby dodać własne treści i zmienić czcionkę.
                </span>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                     Jan Kowalski
                </span>
            </app-customer-review-widget>
        </div>
        <div class="col align-self-center">
            <app-customer-review-widget>
                <span style="font-size: 16px; font-family: 'Poppins-ExtraLight', sans-serif;" content>
                     To jest akapit. Kliknij, aby edytować i dodać własny tekst. To proste. Wybierz „Edytuj tekst” lub kliknij dwukrotnie, aby dodać własne treści i zmienić czcionkę.
                </span>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                     Jan Kowalski
                </span>
            </app-customer-review-widget>
        </div>
    </div>
</div>
