<div class="" style="">
    <div class="row py-5">
        <div style="text-align: center" class="col">
                <span style="font-size: 30px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;">
                    Nasze usługi
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 align-self-center">
            <app-service-widget>
                <img style="opacity: 40%" src="/assets/pic2.jpeg" image>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                    Kuchnie
                </span>
            </app-service-widget>
        </div>
        <div class="col-xl-4 align-self-center">
            <app-service-widget>
                <img style="opacity: 40%" src="/assets/pic2.jpeg" image>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                    Łazienki
                </span>
            </app-service-widget>
        </div>
        <div class="col-xl-4 align-self-center">
            <app-service-widget>
                <img style="opacity: 40%" src="/assets/pic2.jpeg" image>
                <span style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                    Wnętrza
                </span>
            </app-service-widget>
        </div>
    </div>
</div>
