<div class="" style="">
    <div class="row">
        <div class="col">
            <img style="width: 100%" src="/assets/pic2.jpeg">
        </div>
        <div class="col align-self-center">
            <app-about-us-widget>
             <span style="font-size: 30px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900;" header>
                 Wiodąca firma remontowa w regionie.
            </span>
            <span style="font-size: 16px; font-family: 'Poppins-ExtraLight', sans-serif;" content>
                 To jest akapit. Kliknij, aby edytować i dodać własny tekst. To proste. Wybierz „Edytuj tekst” lub kliknij dwukrotnie, aby dodać własne treści i zmienić czcionkę.
            </span>
            <span button>
                O nas
            </span>
            </app-about-us-widget>
        </div>
    </div>
</div>
