@import "~bootstrap/scss/bootstrap-grid";

.shop-now {
  border: 1px solid black !important;
  background-color: #f1f4e3;
  color: black;
}

.shop-now:hover {
  border: 1px solid black !important;
  background-color: black;
  color: white;
}


@include media-breakpoint-up(sm) {
  .welcome-page {
    margin-left: 5rem;
    &__header {
      font-size: 35px; width: 55rem; margin-top: 200px; margin-bottom: 5rem; color: black; font-family: IBM-Regular;
    }

  }
}

@include media-breakpoint-down(sm) {
  .welcome-page {
    margin-left: 1rem;
    &__header {
      font-size: 30px; margin-top: 165px; margin-bottom: 3rem; color: white;
    }
  }
}
