<footer class="new-style-footer container-fluid">
    <div class="footer-border"></div>
    <div class="row">
        <div class="col-xl-6 col-s-12">
            <div class="new-style-footer__col">
                <div>
                    Omówmy Twój następny projekt
                </div>
                <p>
                    Wypełnij formularz lub zadzwoń, aby umówić się na darmową konsultację.
                </p>
                <p>
                    Wypełnij formularz lub zadzwoń, aby umówić się na darmową konsultację.
                </p>
                <p>
                    Obszar działania:
                </p>
                <p>
                    Warszawa, województwo mazowieckie
                <p>
                    ul. Witrynowa 1, 01-001 Warszawa, Polska
                </p>
                <p>
                    info@mojastrona.pl
                </p>
                <p>
                    123-456-789
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-s-12">
            <div class="new-style-footer__col">
                <app-nav-button [link]="'collection'">
                    Collection
                </app-nav-button>
            </div>
        </div>
        <div class="col-xl-2 col-s-12">
            <div class="new-style-footer__col" style="display: flex; font-size: 15px">
                <app-redirect-button [link]="'https://www.instagram.com/balans_design'">
                    <i class="bi bi-instagram" style="margin-right: 1rem"></i>
                </app-redirect-button>
                <app-redirect-button [link]="'https://www.tiktok.com/@balans_design'">
                    <i class="bi bi-tiktok" style="margin-right: 1rem"></i>
                </app-redirect-button>
                <app-redirect-button [link]="'https://pl.pinterest.com/balans_design'">
                    <i class="bi bi-pinterest" style="margin-right: 1rem"></i>
                </app-redirect-button>
            </div>
        </div>
    </div>
</footer>
