<section class="advantage-widget p-5">
    <div>
        <div class="advantage-widget__header">
<!--            <div style="font-size: 25px; font-family: 'Poppins-Bold', sans-serif; font-weight: 900; text-align: center">-->
<!--                "-->
<!--            </div>-->
            <div class="my-3">
                <ng-content select="[content]"></ng-content>
            </div>
            <div>
                <ng-content select="[header]"></ng-content>
            </div>
        </div>
    </div>
</section>
